html, body {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    
    width: 99%;
    height: 99%;

    justify-content: center;
    display: flex;
  }

@font-face {
  font-family: monofont;
  src: url("resources/LTSuperiorMono-Bold.otf");
}

#content {
  top: 0px;
  position: relative;
  /*background-color: #999;*/
  width: 99.9%;
  height: 99%;

  
}

#banner_top {
  border: 0.1px solid rgba(0,0,0,0);
  
  position: relative;
  top: 0px;
  /*width: 90%;*/
  /*height: 50%;*/
  background-image: url('resources/background.png');
  background-repeat: no-repeat;
  background-position: top center;
  /*background-size: contain;*/
  background-size: 50% auto;
  /*z-index: 1; /* Ensure the background is behind the text */

  font-family: "monofont";
}


#notice {
  /* font-size: 12em; */
  font-family: "Calibri";
  /*font-weight: 400;*/
  /*padding: 20px;*/
  color: black;
  margin-top: 12%;
}


#timer {
    /*font-size: 21em; /* 21 em = 336px*/
    /*font-weight: 400;*/
    /* margin-top: 3%; /*100px => 100 / 1080*/
    padding: 20px;
    color: black;
}

#timer div {
    /* prevents breaking the individual timer divs into newlines */
    display: inline-block;
}

.red {
  color: red;
  transition: color 1s;
}

#banner_bottom {
    position:fixed;
    bottom:0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#buttons {
  position:fixed;
  bottom:0px;
  display: block;
  margin-left: 90%;
}
