body {
    text-align: center;
    /*padding: 100px 60px;*/
    background: #FFF;
    font-family: sans-serif;
    /*font-weight: lighter;*/
    font-weight: bold;
    height: 100%;
}

@font-face {
  font-family: myFirstFont;
/* https://www.dafont.com/monofonto.font */
  src: url("monofonto rg.otf");
}

#timer {
    font-size: 21em;
    font-family: "myFirstFont";
    /*font-weight: 400;*/
    margin-top: 100px;
    padding: 10px;
    color: black;
}

#notice {
  font-size: 12em;
  font-family: "Calibri";
  /*font-weight: 400;*/
  padding: 10px;
  color: black;
}

#timer div {
    display: inline-block;
}

/*
#timer div {
    display: inline-block;
    min-width: 90px;
    padding: 60px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 15px;
}
*/
#timer span {
    color: #000000;
    display: block;
    margin-top: 45px;
    font-size: .35em;
    /* font-weight: 400; */
    font-weight: bold;
}


#banner {
    position:fixed;
    bottom:0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
}



#buttons {
  position:fixed;
  bottom:0px;
  display: block;
  margin-left: 90%;


}
